.card{
    background-color: #36506C;
}

.card_overlay {
    top: 76%;
    left: 80%;
}



.container_img{
    height: 30%;
    object-fit: cover;
}

.btn{
    background-color: #36506C;
}

.container{
    margin-right: 1%;
}

.container_user{
    background-color: #36506C;
    margin-left: 16%;
    height: 15%;
}

.card_details_overlay{
    top: 82%;
    left: 84%;
}

input{
    background-color: rgb(217 217 217 / 10%);
    outline: none;
    border: none;
    color: #ffff;
    font-size: large;
}

input::placeholder{
    color: #ffff;
}