.navbar{
    background-color: #36506C;
}

.input-group-text{
    background-color: #fff;
}


.logo_container{
    padding-left: 1rem;
   
}

.nav-item{
    
    padding-left: 2rem;
}

input{
    width: 1000px;
}