<nav class="navbar navbar-expand-lg">
    <a class="logo_container navbar-brand">
        <img class="rounded-circle" src="../../../assets/logo/8_1sasa11.jpg" width="40" height="40">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <fa-icon [icon]="faBell" style="color: #F0F2F5;"></fa-icon>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <fa-icon [icon]="faMessage" style="color: #F0F2F5;"></fa-icon>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <fa-icon [icon]="faUserGroup" style="color: #F0F2F5;"></fa-icon>
                </a>
            </li>
        </ul>
    </div>
    <div class="d-flex justify-content-center align-items-center flex-grow-1">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2 " type="search" placeholder="Search" aria-label="Search">
        </form>
    </div>
    <div class=" px-4">
        <a class="nav-link" href="#">
            <fa-icon [icon]="faDoorOpen" style="color: #F0F2F5;"></fa-icon>
        </a>
    </div>
</nav>