.navbar{
    background-color: #36506C;
}

.input-group-text{
    background-color: #fff;
}


.logo_container{
    padding-left: 2rem;
   
}

.nav-item{
    
    padding-left: 2.5rem;
}

.form-inline{
    width: 70%;
}