<nav class="navbar navbar-expand-lg sticky-top">
  <!--logo-->
  <a routerLink="/home" class="logo_container navbar-brand">
    <img
      class="rounded-circle"
      src="../../../assets/logo/8_1sasa11.jpg"
      width="40"
      height="40"
    />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
    <ul class="navbar-nav">
      <!--notificaciones-->
      <li class="nav-item dropdown">
        <a
          class="nav-link"
          href="#"
          id="navbarDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <fa-icon [icon]="faMessage" style="color: #f0f2f5"></fa-icon>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          @for (notification of notifications; track $index) {
          <div class="row align-items-center">
            @if(notification.value == "notificationLike" ){
            <div class="container col-auto rounded-3">
              <li>
                <a class="dropdown-item" href="#"
                  ><img
                    src="{{ notifications[$index].profile_img }}"
                    width="40"
                    height="40"
                    class="rounded-circle"
                  />
                  <span class="comment text-white"
                    ><span class="text-info">Dio like</span> a tu
                    publicación.</span
                  >
                </a>
              </li>
            </div>
            } @if(notification.value == "notificationComment"){
            <div>
              <li>
                <a class="dropdown-item" href="#"
                  ><img
                    src="{{ notifications[$index].profile_img }}"
                    width="40"
                    height="40"
                    class="rounded-circle"
                  />
                  <span class="text-white ms-2">
                    <span class="text-info">Comentó</span> tu publicación.</span
                  ></a
                >
              </li>
            </div>
            }
          </div>
          }
        </ul>
      </li>
      <!--solicitudes de amistad-->
      <li class="nav-item">
        <a class="nav-link" href="#">
          <fa-icon [icon]="faUserGroup" style="color: #f0f2f5"></fa-icon>
        </a>
      </li>
    </ul>
  </div>
  <div
    class="search d-flex justify-content-center align-items-center flex-grow-1"
  >
    <div class="form-inline my-2 my-lg-0">
      <!--buscador-->
      <div class="input-group">
        <span class="input-group-text">
          <button class="border-0 bg-transparent" (click)="onEnter()">
            <fa-icon [icon]="faSearch" style="border: #0000"></fa-icon>
          </button>
        </span>
        <input
          class="form-control"
          type="search"
          [(ngModel)]="inputSearchValue"
          (keyup)="onEnter()"
          placeholder="Buscar"
          aria-label="buscar"
        />
      </div>
      @if(inputSearchValue != ''){
        <div class="options input-group form-control d-flex flex-column position-absolute">
          @for (user of filteredNotifications; track $index) {
            <div class="row d-flex align-items-center">
              <div class="col py-1 ">
                <a  class="dropdown-item d-flex align-items-center ps-5" [routerLink]="['/profile', user.id]" (click)="assignValue(user.name, user.lastName)">
                  <img src="{{user.profile_image}}" width="40"
                  height="40"
                  class="rounded-circle" alt="">
                  <span class="ms-5 fs-5">{{user.name}} {{user.lastName}}</span>
              </a>
              </div>
            </div>
          }
        </div>
      }
    </div>
  </div>
  <div class="pe-lg-4">
    <!--salir del home-->
    <a class="nav-link" routerLink="/login">
      <fa-icon [icon]="faDoorOpen" style="color: #f0f2f5"></fa-icon>
    </a>
  </div>
</nav>
