.navbar{
    background-color: #36506C;
}

.input-group-text{
    background-color: #fff;
}


.logo_container{
    padding-left: 2rem;
   
}

.nav-item{
    
    padding-left: 2rem;
}

.form-inline{
    width: 70%;
}

ul{
    background-color: #36506C;
    font-size: medium;
}

.dropdown-item{
    padding-top: .5rem;
    padding-bottom: .5rem;
}


.dropdown-item:hover{
    background-color: rgb(217 217 217 / 10%);
}

.comment{
    margin-left: 12px;
}