<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow-lg">
          <div class="card-body">
            <h4 class="card-title text-center text-white mb-3">
              Registro Exitoso.
            </h4>
            
              <div class="my-5">
                <div id="emailHelp" class="form-text text-info text-center">
                    Te redirigiremos al login para que puedas ingresar con tu nueva cuenta.
                  </div>
              </div>
              <div class="text-center">
                <hr style="border-top: 1px solid #dbdbdb; width: 100%" />
                <!--agregar un loading-->
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>