*{
    padding-left: 0;
    padding-right: 0;
}

.container_box{
    height: 100%;
}

.card{
    position: absolute;
    width: 15rem;
    height: 30%;
    position: absolute;
    margin-left: 1rem;
    background-color: #36506C;
    padding: 2rem;
    left: 10%;
}

.card_overlay {
    top: 76%;
    left: 80%;
}



.container_img{
    
    margin-top: 4.1rem;
    height: 30%;
    object-fit: cover;
   
}

.btn{
    background-color: #36506C;
}

.container{
    margin-right: 1%;
}

.container_user{
    background-color: #36506C;
    margin-left: 16%;
    height: 15%;
}

.card_details_overlay{
    top: 82%;
    left: 84%;
}