<div class="">
  <app-navbar  [profileData]="profileData"/>
  <div class="row g-0">
    <div
      class="col-2 d-flex flex-column position-fixed p-0"
      style="background-color: #36506c"
    >
      <app-sidebar class="vh-100" [profileData]="profileData" />
    </div>
    <div class="col">
      <div class="row g-0">
        <div class="col-2"></div>
        <div class="col">
          <div class="row g-0 d-flex flex-column">
            <div class="col ps-0">
              <div class="img-container" style="height: 35vh; overflow: hidden; background-image: url('{{ profileData.background_image }}'); background-size: cover; background-position: center; background-repeat: no-repeat;">
              </div>
              

              <div
                class="card rounded rounded-5 position-absolute translate-middle border border-0"
              >
                @if(profileData.profile_image ===
                "https://cdn-icons-png.flaticon.com/512/149/149071.png" ){
                <div
                  class="rounded border border-3 border-info rounded-5 h-100"
                  style="border: 5px solid rgb(217 217 217 / 10%)"
                >
                  <img
                    src="{{ profileData.profile_image }}"
                    class="img-fluid h-100"
                    alt="profile_img"
                  />
                </div>
                } @else {
                <div class="h-100">
                  <img
                    src="{{ profileData.profile_image }}"
                    class="img-fluid rounded border border-3 border-info rounded-5 mx-auto d-block"
                    alt="profile_img"
                  />
                </div>
                }
              </div>
              <div
                class="container_user col d-flex justify-content-center align-items-center py-3"
              >
                <div
                  class="container d-flex ms-5 rounded rounded-5 border border-3 border-info"
                >
                  <span class="text-white p-4"
                    ><h1>
                      {{ profileData.name }} {{ profileData.lastName }}
                    </h1></span
                  >
                </div>
              </div>
            </div>
            <div class="row g-0">
              <div
                class="col d-flex justify-content-center py-4"
              >
                <app-profile-view [profileData]="profileData"  style="width: 80%;"/>
              </div>
              <div
                class="col d-flex justify-content-center align-items-center"
              >
                <app-profile-publications [profileData]="profileData" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
