<div class="container mt-4 w-50">
  <div class="card">
    <div class="card-body">
      <div class="row p-lg-3">
        <div class="pr col-lg-1 col-md-6">
          
            <img
              src="https://lh3.googleusercontent.com/a/ACg8ocI_Fbnf1HIFWV45ZOmpyl3N7NsKPI8GJgE38aS51jtoYeVVZN6LKg=s96-c-rg-br100"
              width="100"
              height="100"
              alt="Imagen"
              class="circle-img"
            />
          
        </div>
        <div class="col-lg-8 col-md-6 d-flex flex-column">
          <div class="row">
            
              <h1 class="card-title text-white">Facundo Vila</h1>
            
            
              <h4 class="card-subtitle mb-2 text-white">5hs</h4>
            
          </div>
        </div>
      </div>
      <div class="row mt-2 ps-lg-3">
        <div class="col">
          <p class="card-text text-white">
            El dia de hoy la pase bomba!!
          </p>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col">
          <img src="../../../assets/img/test.png" class="card-img-bottom" alt="" />
        </div>
      </div>
      <div class="container">
        <div class="row  d-flex justify-content-center  py-2">
            <div class="col  d-flex justify-content-center">
              <button type="button" class="btn text-white border-0 w-100"><fa-icon [icon]="faHeart" style="color: #f0f2f5"></fa-icon
                > Me gusta</button>
              </div>
              <div class="col d-flex justify-content-center">
              <button type="button" class="btn text-white border-0 w-100"><fa-icon [icon]="faComments" style="color: #f0f2f5"></fa-icon
                > Comentar</button>
              </div>
              <div class="col  d-flex justify-content-center">
              <button type="button" class="btn text-white border-0 w-100"><fa-icon [icon]="faShare" style="color: #f0f2f5"></fa-icon
                > Compartir</button>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
