<div class="container-fluid d-flex vh-100 justify-content-center">
  <div>
    <div class="row d-flex flex-column">
      <div class="col-lg-3" style="width: 30vw">
        <app-post
          class="d-flex justify-content-center mt-2"
          [profileData]="profileData"
        ></app-post>
      </div>
      <div class="col-lg-9" style="width: 30vw">
        <app-publications [profileData]="profileData"
          class="d-flex flex-column justify-content-center py-2"
        ></app-publications>
      </div>
    </div>
  </div>
</div>


