<div class="con">
  @for (comment of comments; track $index) {
  <div
    class="row d-flex justify-content-between align-items-center m-auto py-2"
  >
    <div class="col-1">
      <img
        src="{{ comment.profile_img }}"
        width="40"
        height="40"
        class="rounded-circle"
        style="object-fit: cover"
      />
    </div>
    <div class="col">
      <p class="profile text-white">{{ comment.profile_name }}</p>
    </div>
  </div>
  <div class="comment_container p-2 m-2 border rounded border-0">
    <p class="m-auto">{{ comment.comment }}</p>
  </div>
  }
  <div class="card mt-3">
    <div class="card-body">
      <div class="row d-flex justify-content-between align-items-center">
        <div class="col-1">
          <!-- Imagen circular -->
          <img
            src="{{ perfilData[0].apellido }}"
            alt="Imagen"
            width="40"
            height="40"
            class="rounded-circle"
            style="object-fit: cover"
          />
        </div>
        <div class="col">
          <!-- Input text -->
          <input
            type="text"
            [(ngModel)]="inputValue"
            (keyup.enter)="onEnter()"
            class="form-control"
            placeholder="Escribe un comentario..."
          />
        </div>
      </div>
    </div>
  </div>
</div>
