

.card{
    background-color: #36506C;
    border: none;
    outline: none;
}



.profile{
    display: contents;
}

.comment_container{
    
    background-color: rgb(217 217 217 / 10%);
    outline: none;
    border: none;
    color: #ffff;
    font-size: large;
}

.form-control{
    background-color: rgb(217 217 217 / 10%);
    outline: none;
    border: none;
    color: #ffff;
    font-size: large;
}

.form-control::placeholder{
    color: #ffff;
}