.container{
    min-height: 100vh;
}

.title{
    font-size: 64px;
    font-weight: 700;
}



img{
    min-width: 708px;
    min-height: 441px;
}

.card{
    background-color: #36506C;
    width: 26rem;
}
