<!--title-->
<section>
    <div>
        <h1>Cosy</h1>
    </div>
</section>
<!--img-->
<section>
    <div>
        <img src="../../../assets/login/login_img.png" alt="social-media-img">
    </div>
</section>
<!--login-->
<section>
    <div>
        <h1>Conéctate</h1>
    </div>
    <div>
        <h3>Debes conectarte para continuar.</h3>
    </div>
    <div>
        <input type="text">
        <input type="password">
        <button>Ingresar</button>
    </div>
    <div>
        <h4>Olvidaste la contraseña?</h4>
    </div>
    <div>
        <button><a href="register">Crea una nueva cuenta</a></button>
    </div>
</section>