<div class="container d-flex flex-column justify-content-center">
  <!-- Title -->
  <section>
    <div>
      <h1 class="title">Cosy</h1>
    </div>
  </section>
  <!--image and card-->
  <section>
    <div class="row justify-content-around align-items-center">
      <!--image container-->
      <div class="col-md-6 col-lg-5">
        <div class="d-flex justify-content-end">
          <img
            src="../../../assets/login/login_img.png"
            alt="social-media-img"
            class="img-fluid d-none d-md-block"
          />
        </div>
      </div>
      <!--card container-->
      <div class="col-md-6 col-lg-5">
        <div class="card shadow-lg">
          <div class="card-body">
            <h1 class="text-center text-white mb-4">Conéctate</h1>
            <!--form-->
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="mb-3">
                <input
                  type="email"
                  formControlName="mail"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid': submitted && loginForm.controls['mail'].errors
                  }"
                  placeholder="Email"
                />
                @if (submitted &&
              loginForm.controls['mail'].errors?.['minlength']){
              <div class="text-danger mt-2">
                Se necesita de una Contraseña de almenos 8 caracteres, que
                contenga al menos una letra minúscula,una letra mayúscula, un
                dígito y un carácter especial.
              </div>}
                @if (submitted && loginForm.controls['mail'].errors){
                <div class="text-danger mt-2">Se necesita de un Email.</div>
                }
              </div>
              <div class="input-group mb-3">
                <input
                  type="password"
                  [type]="showPassword ? 'text' : 'password'"
                  formControlName="password"
                  class="form-control position-relative"
                  [ngClass]="{
                    'is-invalid':
                      submitted && loginForm.controls['password'].errors
                  }"
                  placeholder="Contraseña"
                />

                <button
                  class="btn btn-light border-end-0"
                  type="button"
                  id="icon-click"
                  (click)="togglePasswordVisibility()"
                >
                  <fa-icon [icon]="showIcon ? faEye : faEyeSlash"></fa-icon>
                </button>
              </div>
              @if (submitted &&
              loginForm.controls['password'].errors?.['required']){
              <div class="text-danger mt-2">Se necesita de una Contraseña.</div>
              } @if (submitted &&
              loginForm.get('password')?.hasError('maxlength')){
              <div class="text-danger my-2">
                La contraseña excede los 16 caracteres.
              </div>
              } @if (submitted &&
              loginForm.controls['password'].errors?.['minlength']){
              <div class="text-danger mt-2">
                Se necesita de una Contraseña de almenos 8 caracteres, que
                contenga al menos una letra minúscula,una letra mayúscula, un
                dígito y un carácter especial.
              </div>
              } @if (error === true) {
                <div class="text-danger my-2">El email o la contraseña son incorrectos.</div>
              }
              <div class="mb-3">
                <button class="btn btn-primary btn-lg btn-block w-100">
                  Ingresar
                </button>
              </div>
              <div class="mb-3 text-center">
                <a routerLink="/recovery" class="text-info text-decoration-none"
                  >¿Olvidaste la contraseña?</a
                >
              </div>
            </form>
            <hr />
            <div class="text-center">
              <button class="btn btn-info btn-lg btn-block">
                <a
                  routerLink="/register"
                  class="text-white text-decoration-none"
                  >Crea una nueva cuenta</a
                >
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
