  @for (publication of allPublications; track $index) {
    @if(publication.image === null){
      <app-post-card
      (addClickedLikeEvent)="getLike($event)"
      [profileImg]="publication.profile_image"
      [profileName]="publication.fullname"
      [postData]="publication.content"
      [postLike]="publication.post_like"></app-post-card>
      
    }
    @else {
      <app-post-card
      (addClickedLikeEvent)="getLike($event)"
      [profileImg]="publication.profile_image"
      [profileName]="publication.profile_name"
      [postData]="publication.content"
      [postImg]="publication.image"
      [postLike]="publication.post_like"></app-post-card>
    }
   }

 