<div
  class="card rounded rounded-5 p-lg-4"
  style="width: 30rem; height: 30rem"
>
  <div
    class="card-body rounded rounded-5 border border-3 border-info p-lg-3 m-lg-1 position-relative"
  >
    <h5 class="card-title text-white fw-bolder fs-2 p-3">Detalles:</h5>
    <p class="card-text text-white ps-3 pt-1 fs-5">
      Amantes de los juegos y el boxeo.
    </p>
    <div class="ps-lg-3 py-3">
      <p class="card-text text-white py-1">
        <fa-icon
          [icon]="faBriefcase"
          class="fa-lg"
          style="color: #f0f2f5; width: 100%"
        ></fa-icon>
        Desarrollador Frontend
      </p>
      <p class="card-text text-white py-1">
        <fa-icon
          [icon]="faHome"
          class="fa-lg"
          style="color: #f0f2f5; width: 100%"
        ></fa-icon>
        Avellaneda
      </p>
      <p class="card-text text-white py-1">
        <fa-icon
          [icon]="faCalendar"
          class="fa-lg"
          style="color: #f0f2f5; width: 100%"
        ></fa-icon>
        10/5/95
      </p>
      <p class="card-text text-white py-1">
        <fa-icon
          [icon]="faEarth"
          class="fa-lg"
          style="color: #f0f2f5; width: 100%"
        ></fa-icon>
        Argentina
      </p>
      <p class="card-text text-white py-1">
        <fa-icon
          [icon]="faMarsAndVenus"
          class="fa-lg"
          style="color: #f0f2f5; width: 100%"
        ></fa-icon>
        Masculino
      </p>
    </div>
  </div>
  <label
    class="card_details_overlay btn p-lg-3 rounded rounded-5 border border-3 border-info position-absolute"
  >
    <fa-icon
      [icon]="faGear"
      class="fa-lg"
      style="color: #f0f2f5; width: 100%"
    ></fa-icon>
    <input type="file" id="formFile" style="display: none" />
  </label>
</div>
