<div class="card rounded rounded-5 p-lg-4" style="width: 30rem; height: 30rem">
  <div
    class="card-body rounded rounded-5 border border-3 border-info p-lg-3 m-lg-1 position-relative"
  >
    <h5 class="card-title text-white fw-bolder fs-2 p-3">Detalles:</h5>
    @if (userData.description != null) {
      <p class="card-text text-white ps-3 pt-1 fs-5">
        {{userData.description}}
      </p>
    }
    <div class="ps-lg-3 py-3">
      <p class="card-text text-white py-1">
        <fa-icon
          [icon]="faBriefcase"
          class="fa-lg"
          style="color: #f0f2f5; width: 100%"
        ></fa-icon>
        Desarrollador Frontend
      </p>
      @if(userData.address != null){
        <p class="card-text text-white py-1">
          <fa-icon
            [icon]="faAddressBook"
            class="fa-lg"
            style="color: #f0f2f5; width: 100%"
          ></fa-icon>
          {{userData.address}}
        </p>
      }
      <p class="card-text text-white py-1">
        @if (userData.birthdate != null) {
          <p class="card-text text-white py-1">
            <fa-icon
              [icon]="faEarthAmericas"
              class="fa-lg"
              style="color: #f0f2f5; width: 100%"
            ></fa-icon>
            {{userData.birthdate}}
          </p>
        }
      <p class="card-text text-white py-1">
        @if (userData.gender != null) {
          <fa-icon
          [icon]="faMarsAndVenus"
          class="fa-lg"
          style="color: #f0f2f5; width: 100%"
        ></fa-icon>
        {{userData.gender}}
        }
      </p>
    </div>
  </div>
  <!-- Button trigger modal -->
  <button
    type="button"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
    class="card_details_overlay btn p-lg-3 rounded rounded-5 border border-3 border-info position-absolute"
  >
    <fa-icon
      [icon]="faGear"
      class="fa-lg"
      style="color: #f0f2f5; width: 100%"
    ></fa-icon>
    <input type="file" id="formFile" style="display: none" />
  </button>
  <!-- Modal -->
  <app-modal-settings [profileData]="profileData" [userData]="userData"/>
</div>
