.navbar {
    height: 100%;
    background-color: #36506C;
    align-items: flex-start;
    margin-top: 20%;
    padding-left: 10%;
}

.navbar-brand {
    margin-left: 1rem;
    font-size: 1.5em;
    font-weight: bold;
}

  .navbar-collapse {
    width: 100%;
    height: 100%;
  }