<nav class="navbar navbar-expand-lg d-flex flex-column align-items-center">
  <div class="d-flex flex-column align-items-start">
    <a class="navbar-brand" href="#">
      <img
        src="https://lh3.googleusercontent.com/a/ACg8ocI_Fbnf1HIFWV45ZOmpyl3N7NsKPI8GJgE38aS51jtoYeVVZN6LKg=s96-c-rg-br100"
        width="50"
        height="50"
        class="d-inline-block align-top"
        alt=""
      />
      <span class="text-white px-4">Facundo Vila</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link mt-2" href="#">
            <fa-icon [icon]="faUserGroup" style="color: #f0f2f5"></fa-icon>
            <span class="text-white px-3">Amigos</span>
          </a>
          <a class="nav-link mt-2" href="#">
            <fa-icon [icon]="faPeopleGroup" style="color: #f0f2f5"></fa-icon>
            <span class="text-white px-3">Grupos</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="mt-auto my-4">
    <a class="nav-link" href="#">
      <span class="text-white">Goldfinch 2024</span>
    </a>
  </div>
</nav>
