
  <div class="d-flex flex-column h-100 text-white justify-content-around">
    <div class="pb-5">
      <!--foto de perfil-->
    <a
      class="d-flex justify-content-evenly align-items-center pt-1 pb-3 text-decoration-none"
      href="/profile"
    >
      <img
        [src]="profileData.profile_image"
        width="50"
        height="50"
        class="d-inline-block align-top rounded-circle"
        alt="profile_image"
        style="object-fit: cover"
      />
      <!--nombre y apellido del usuario-->
      <span class="text-white fs-2"
        >{{ profileData.name }} {{ profileData.lastName }}</span
      >
    </a>
    <div class="pt-1">
      <li class="d-flex justify-content-evenly align-items-center pt-3">
        <!--amigos-->
        <fa-icon class="" [icon]="faUserGroup" style="color: #f0f2f5"></fa-icon>
        <a
          href="#"
          class="nav-link d-flex justify-content-between align-items-center"
        >
          <span class="text-white fs-4">Amigos</span>
        </a>
      </li>
      <li class="d-flex justify-content-evenly align-items-center">
        <!--grupos-->
        <fa-icon [icon]="faUserGroup" style="color: #f0f2f5"></fa-icon>
        <a
          class="nav-link d-flex align-items-center justify-content-between"
          href="#"
        >
          <span class="text-white fs-4">Grupos</span>
        </a>
      </li>
    </div>
  </div>
  <div class="mt-3"></div>
  <div class="mt-3"></div>
    <div class="mt-3"></div>
    <!--footer-->
    <footer class="text-center py-4">
      <a class="nav-link text-white" href="https://my-portfolio-murex-rho.vercel.app/">Goldfinch 2024</a>
    </footer>
  </div>