<div class="container-fluid">
  <div class="card">
    <div class="card-body ps-0 pe-0">
      <div class="row">
        <!--perfil image-->
        <div class="col-3 d-flex justify-content-center">
          <img [src]="profileData.profile_image" alt="profile img" width="70" class="rounded-circle" style="object-fit: cover;">
        </div>
        <!--input text-->
        <div class="col-9 d-flex align-items-center">
          <input type="text" [(ngModel)]="inputValue"
          (keyup.enter)="onEnter()" class="form-control" style="width: 90%;" placeholder="Que tal tu dia?">
        </div>
      </div>
      @if (selectedFile) {
        <div class="row">
        <div class="px-4 pt-3">
          <img src="../../../assets/img/test.png" alt="image" class="img-fluid rounded-5" style="border: 5px solid rgb(217 217 217 / 10%);">
        </div>
      </div>
      }
      <div class="row d-flex justify-content-center py-2 mt-3 ps-4" style="background-color: rgb(217 217 217 / 10%);">
        <div class="col-5 d-flex justify-content-center">
          <label for="formFile" class="label text-white">
            <fa-icon [icon]="faImage"  style="color: #f0f2f5"/> Imagen
            <input type="file" (change)="onFileSelected($event)" id="formFile" style="display: none;">
          </label>
        </div>
        <div class="col-7 d-flex justify-content-center ">
          <label for="formFile" class="label text-white">
            <fa-icon [icon]="faSmile"  style="color: #f0f2f5"/> Sentimiento/Actividad
            <input type="file" (change)="onFileSelected($event)" id="formFile" style="display: none;">
          </label>
        </div>
      </div>
    </div>
  </div>
</div>

