<div class="container w-50">
  <div class="card">
    <div class="card-body">
      <div class="row d-flex">
        <div class="col-md-3 d-flex justify-content-center">
          <!-- Imagen circular -->
          <img
            src={{perfilData[0].apellido}}
            alt="Imagen"
            width="70"
            height="70"
            class="rounded-circle"
            style="object-fit: cover;"
          />
        </div>
        <div class="col-md-9 d-flex align-items-center">
          <!-- Input text -->
          <input 
            type="text"
            [(ngModel)]="inputValue"
            (keyup.enter)="onEnter()"
            class="form-control"
            placeholder="Que tal tu dia?"
          />
        </div>
        @if (selectedFileDataUrl) {
          <div class="col mt-3">
            <img [src]="selectedFileDataUrl" class="card-img-bottom" alt="" />
          </div>
        }
      </div>
    </div>
    <div class="container">
      <div class="row  d-flex justify-content-center  py-2">
        <div class="col-5  d-flex justify-content-center ps-2">
          <label for="formFile" class="label d-flex align-items-center justify-content-center text-white"><fa-icon [icon]="faImage"  style="color: #f0f2f5"> </fa-icon
            > Imagen / Video<input type="file" (change)="onFileSelected($event)" id="formFile" style="display: none;"></label>
        </div>
        <div class="col-6  d-flex justify-content-center ps-2">
          <button type="button" class="btn text-white border-0">
            <fa-icon [icon]="faSmile" style="color: #f0f2f5"></fa-icon
            > Sentimiento / Actividad
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
