<div class="container w-50">
  <div class="card">
    <div class="card-body">
      <div class="row d-flex">
        <div class="col-md-3 d-flex justify-content-center">
          <!-- Imagen circular -->
          <img
            src="https://lh3.googleusercontent.com/a/ACg8ocI_Fbnf1HIFWV45ZOmpyl3N7NsKPI8GJgE38aS51jtoYeVVZN6LKg=s96-c-rg-br100"
            alt="Imagen"
            width="70"
            height="70"
            class="img-fluid rounded-circle"
          />
        </div>
        <div class="col-md-9 d-flex align-items-center">
          <!-- Input text -->
          <input
            type="text"
            class="form-control"
            placeholder="Que tal tu dia?"
          />
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row  d-flex justify-content-center  py-2">
        <div class="col-5  d-flex justify-content-center ps-2">
          
          <button type="button" class="btn text-white border-0">
            <fa-icon [icon]="faImage" style="color: #f0f2f5"></fa-icon
            > Imagen / Video
          </button>
        </div>
        <div class="col-6  d-flex justify-content-center ps-2">
         
          <button type="button" class="btn text-white border-0">
            <fa-icon [icon]="faSmile" style="color: #f0f2f5"></fa-icon
            > Sentimiento / Actividad
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
